<template>
  <div
    class="sticky bottom-9 left-0 right-0 flex w-full justify-center space-x-2.5 rounded-lg bg-background-primary px-7 py-5 shadow-base"
  >
    <AppButton v-if="needCancelButton" :disabled="disabled" class="w-1/2" secondary @click="emit('cancel')">
      {{ cancel || t('button_cancel_changes') }}
    </AppButton>
    <AppButton class="w-1/2" :disabled="invalid || disabled" @click="emit('action')">
      {{ action || t('button_save') }}
    </AppButton>
  </div>
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n';

interface IProps {
  action?: string;
  cancel?: string;
  invalid?: boolean;
  needCancelButton?: boolean;
  disabled?: boolean;
}

withDefaults(defineProps<IProps>(), {
  needCancelButton: true,
});

const emit = defineEmits<{
  (event: 'action'): void;
  (event: 'cancel'): void;
}>();

const { t } = useI18n();
</script>
