<template>
  <div>
    <InputWrapper>
      <template #label>
        <slot name="label" />
      </template>
    </InputWrapper>

    <AppFileInput
      ref="fileInput"
      :disabled="disabled"
      :accept="accept"
      :placeholder="placeholderRef"
      :light="light"
      @change="onChange"
    />

    <div class="body-bold mb-2 text-center text-dark-blue-3">{{ t('or') }}</div>

    <AppInput
      v-model="url"
      v-bind="$attrs"
      :disabled="disabled"
      :loading="loading"
      :placeholder="t('link')"
      :light="light"
    >
      <template #errors>
        <slot name="errors" />
      </template>
    </AppInput>
  </div>
</template>

<script lang="ts" setup>
import { ref, computed } from 'vue';
import InputWrapper from './InputWrapper.vue';
import { useI18n } from 'vue-i18n';
import AppFileInput from './AppFileInput.vue';

const { t } = useI18n();

interface InputProps {
  modelValue?: string | null;
  placeholder?: string;
  disabled?: boolean;
  accept?: string;
  light?: boolean;
  sendFile: (file: File) => Promise<string>;
}

const props = withDefaults(defineProps<InputProps>(), {
  disabled: false,
});

const emit = defineEmits<{
  (event: 'update:modelValue', value: string | null | undefined): void;
}>();
defineOptions({ inheritAttrs: false });

const placeholderRef = ref(props.placeholder);
const url = computed<string | null | undefined>({
  get() {
    return props.modelValue;
  },
  set(newValue: string | null | undefined) {
    if (!newValue || !fileInput.value?.hasFile()) {
      placeholderRef.value = props.placeholder;
    }

    if (fileInput.value?.hasFile()) {
      fileInput.value.reset();
    }

    emit('update:modelValue', newValue);
  },
});
const loading = ref(false);
const fileInput = ref<InstanceType<typeof AppFileInput>>();

const onChange = async (file: File, path: string) => {
  if (!file) return;

  placeholderRef.value = path;
  loading.value = true;

  const newUrl = await props.sendFile(file);
  emit('update:modelValue', newUrl);

  loading.value = false;
};
</script>
