<template>
  <label
    ref="dropZoneRef"
    :class="[
      'body-bold relative mb-2 flex cursor-pointer items-center justify-center whitespace-pre-line rounded-md border border-dashed border-dark-blue-3 bg-background-secondary text-center text-dark-blue-3',
      { 'bg-white': light, 'border-pink-primary text-pink-primary': isOverDropZone },
    ]"
    style="height: 127px"
  >
    <template v-if="placeholder">
      {{ placeholder }}
    </template>
    <template v-else>
      <div>
        <AppIcon name="file" style="font-size: 40px" />

        <div class="mt-2.5">
          {{ t('move_file') }} {{ t('or') }} <span class="underline">{{ t('choose_file') }}</span>
        </div>
      </div>
    </template>

    <input
      ref="input"
      :disabled="disabled"
      :accept="accept"
      type="file"
      class="app-file-input"
      data-test-id="app-file-input"
      @change="onChange"
    />
  </label>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import { useI18n } from 'vue-i18n';
import { useDropZone } from '@vueuse/core';

interface InputProps {
  placeholder?: string;
  disabled?: boolean;
  accept?: string;
  light?: boolean;
}

withDefaults(defineProps<InputProps>(), {
  disabled: false,
});
const emit = defineEmits<{
  (event: 'change', value: File, path: string): void;
}>();

const input = ref<HTMLInputElement>();
const dropZoneRef = ref<HTMLLabelElement>();
let currentFile: File | null = null;

const { t } = useI18n();
const { isOverDropZone } = useDropZone(dropZoneRef, onDrop);

const onChange = (event: Event) => {
  const target = event.target as HTMLInputElement;
  const { value: inputValue = '', files: inputFiles } = target;

  if (inputFiles?.length) {
    currentFile = inputFiles[0];
    emit('change', currentFile, inputValue);
  }
};

function onDrop(files: File[] | null) {
  if (files?.length) {
    currentFile = files[0];

    emit('change', currentFile, currentFile.name);
  }
}

defineExpose({
  hasFile() {
    return Boolean(currentFile);
  },
  reset() {
    if (input.value) {
      input.value.value = '';
      currentFile = null;
    }
  },
});
</script>

<style lang="scss" scoped>
.app-file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  outline: none;
  cursor: pointer;
  z-index: -1;

  &-wrapper {
    height: 127px;
  }
}
</style>
