<template>
  <InputWrapper v-bind="$attrs" :filled="Boolean(modelValue)" :disabled="disabled">
    <template #field>
      <p
        :data-disabled="disabled"
        :data-placeholder="placeholder"
        role="textbox"
        contenteditable
        class="app-input !h-fit"
        data-test-id="app-textarea"
        @input="onInput"
        @keydown.enter.prevent
      >
        {{ modelValue }}
      </p>
    </template>

    <template v-for="(_, name) in $slots" #[name]="slotData">
      <slot :name="name" v-bind="slotData" />
    </template>
  </InputWrapper>
</template>

<script lang="ts" setup>
import InputWrapper from './InputWrapper.vue';

interface InputProps {
  modelValue?: string;
  disabled?: boolean;
  placeholder?: string;
}

withDefaults(defineProps<InputProps>(), {
  disabled: false,
});

const emit = defineEmits<{
  (event: 'update:modelValue', value: string | null): void;
}>();

const onInput = (event: Event) => {
  const target = event.target as HTMLSpanElement;
  const { textContent: value } = target;

  emit('update:modelValue', value);
};
</script>

<style lang="scss">
.app-input[contentEditable]:empty::before {
  content: attr(data-placeholder);
}
.app-input[data-disabled='true'] {
  pointer-events: none;
}
</style>
