<template>
  <DetailView :loading="loading" @back="$router.push({ name: 'course-detail', params: { id: course.id } })">
    <div class="w-full">
      <div class="flex items-start justify-between">
        <div v-if="course.blocks" class="w-[600px]">
          <div class="large-title-bold">
            {{ block?.title }}
          </div>
          <div class="subheadline mb-3 mt-3 break-words">
            {{ block?.description }}
          </div>
          <div
            v-if="block?.file"
            class="title-20 mb-3 flex w-fit cursor-pointer items-center gap-1 text-primary"
            @click="downloadBlockFile()"
          >
            Вложения
            <AppIcon name="file" />
          </div>
        </div>

        <div class="mb-3 flex flex-col items-end justify-end gap-5">
          <AppSelect
            v-model="status"
            small
            :options="OPTIONS"
            @update:modelValue="setStatus"
            class="w-[230px]"
            :disabled="course?.account_course?.role === 'Student'"
          >
            <template #show="{ data }">
              <div class="caption-bold whitespace-nowrap">
                {{ data.name }}
              </div>
            </template>
          </AppSelect>
          <AppButton
            v-if="course?.account_course?.role === 'Student' && block?.status === 2"
            small
            class="subheadline-bold w-fit"
            @click="onAddNewAnswer"
          >
            <AppIcon name="plus-circle" class="-my-0.5 text-title-2md" />
            <span class="ml-2">{{ 'Ответ' }}</span>
          </AppButton>
          <AppButton
            @click="modalStat.open({ accountBlocks })"
            v-if="course?.account_course?.role !== 'Student'"
            small
            secondary
            >Статистика по оценкам</AppButton
          >
        </div>
      </div>

      <hr />

      <div class="mb-3 mt-9 flex w-full flex-row items-center justify-between">
        <div class="flex gap-4">
          <p v-if="course.account_course && !myStudients" class="title-20-bold w-fit">
            {{ course.account_course.role === 'Student' ? 'Ваши ответы' : 'Все ответы студентов' }}
          </p>
          <AppCheckbox
            v-if="course.account_course && course.account_course.role !== 'Student'"
            v-model="myStudients"
            class="subheadline"
          >
            Ответы моих студентов
          </AppCheckbox>
        </div>

        <AppSwitch v-model="isTeam">Ответы по командам</AppSwitch>
      </div>

      <AppTable
        v-if="!isTeam"
        :data="displayedData"
        :header="tableHeader"
        empty-table-text="Пусто"
        :loading="loading"
        front-sort
        :table-params="tableParams"
        class="shadow-inner"
      >
        <template #cell-file="{ item }">
          <p @click="downloadFile(item)" class="subheadline-bold cursor-pointer text-primary">Скачать</p>
        </template>
        <template #cell-actions="{ item }">
          <AppIcon
            @click="onScoreModal(item.id)"
            name="edit-01"
            class="cursor-pointer text-title-sm text-dark-blue-primary"
          />
        </template>
        <template #cell-comment="{ item }">
          <AppPopover>
            <template #reference="{ show }">
              <div class="cursor-pointer">
                {{ item.comment.substring(0, 15) }}{{ item.comment.length > 15 ? '...' : '' }}
                <span v-if="item.comment.length > 15" @click.stop.prevent="show" class="caption-bold text-primary">
                  далее
                </span>
              </div>
            </template>
            <template #content="{ hide }">
              <div @mouseleave="hide" class="w-[200px] break-words rounded-sm bg-background-secondary2 p-4">
                {{ item.comment }}
              </div>
            </template>
          </AppPopover>
        </template>
      </AppTable>
      <AppTable
        v-else
        :data="displayedData.filter((answer) => !!answer.team)"
        :header="tableHeaderTeam"
        empty-table-text="Пусто"
        :loading="loading"
        front-sort
        :table-params="tableParams"
        class="shadow-inner"
      >
        <template #cell-file="{ item }">
          <p @click="downloadFile(item)" class="subheadline-bold cursor-pointer text-primary">Скачать</p>
        </template>
        <template #cell-actions="{ item }">
          <AppIcon
            @click="onScoreModal(item.id)"
            name="edit-01"
            class="cursor-pointer text-title-sm text-dark-blue-primary"
          />
        </template>
        <template #cell-comment="{ item }">
          <AppPopover>
            <template #reference="{ show }">
              <div class="cursor-pointer">
                {{ item.comment.substring(0, 15) }}{{ item.comment.length > 15 ? '...' : '' }}
                <span v-if="item.comment.length > 15" @click.stop.prevent="show" class="caption-bold text-primary">
                  далее
                </span>
              </div>
            </template>
            <template #content="{ hide }">
              <div @mouseleave="hide" class="w-[200px] break-words rounded-sm bg-background-secondary2 p-4">
                {{ item.comment }}
              </div>
            </template>
          </AppPopover>
        </template>
      </AppTable>
    </div>
  </DetailView>
</template>

<script lang="ts" setup>
import { ref, computed, onMounted } from 'vue';
import { IHeaderConfiguration } from '@/components/types/table';
import useCourseStore, { IAccountBlock, IBlock, ITeam } from '@/store/courses';
import { storeToRefs } from 'pinia';
import useModal from '@/core/plugins/useModal';
import { useAppToast } from '@/core/plugins/useAppToast';
import { useRoute } from 'vue-router';
import DetailView from '@/layouts/views/DetailView.vue';
import { PaginationRequest } from '@/core/services/Api';
import { SortDirections, SortParams } from '@/core/utils/sorting';
import CreateAnswer from './CreateAnswer.vue';
import CreateScore from './CreateScore.vue';
import { saveAs } from 'file-saver';
import { IUser } from '@/store/account';
import useAccountStore from '@/store/account';
import AppPopover from '@/components/AppPopover.vue';
import ModalStat from './ModalStat.vue';

const accountStore = useAccountStore();
const { account } = storeToRefs(accountStore);

const route = useRoute();

const courseStore = useCourseStore();
const toast = useAppToast();
const isTeam = ref<boolean>(false);

const { accountBlocks, course } = storeToRefs(courseStore);
const { fetchAccountsBlock, fetchCourse, createAccountBlock, setScore, updateBlock } = courseStore;

const tableHeader = ref<IHeaderConfiguration[]>([
  {
    key: 'last_name',
    name: 'Фамилия',
    sortable: true,
  },
  {
    key: 'first_name',
    name: 'Имя',
    sortable: true,
  },
  {
    key: 'email',
    name: 'Почта',
  },
  {
    key: 'score',
    name: 'Оценка',
    sortable: true,
    flexBasis: '90px',
  },
  {
    key: 'assistant',
    name: 'Проверяющий',
    sortable: true,
  },
  {
    key: 'comment',
    name: 'Комментарий',
  },
  {
    key: 'file',
    name: 'Файл',
  },
  {
    key: 'actions',
    flexBasis: '45px',
  },
]);

const tableHeaderTeam = ref<IHeaderConfiguration[]>([
  {
    key: 'team',
    name: 'Команда',
    sortable: true,
  },
  {
    key: 'score',
    name: 'Оценка',
    sortable: true,
    flexBasis: '90px',
  },
  {
    key: 'assistant',
    name: 'Проверяющий',
    sortable: true,
  },
  {
    key: 'comment',
    name: 'Комментарий',
  },
  {
    key: 'file',
    name: 'Файл',
  },
  {
    key: 'actions',
    flexBasis: '45px',
  },
]);

const loading = ref<boolean>(false);

const tableParams = ref<{ pagination: PaginationRequest; sort: SortParams }>({
  pagination: { page: 1, page_size: 1000 },
  sort: { field: '', direction: SortDirections.ASC, api: 'last_name' },
});

interface IAccountBlockDisplay extends IAccountBlock {
  first_name: string;
  last_name: string;
  email: string;
  assistant: string;
  team?: string;
}

function mapCallback(block: IAccountBlock): IAccountBlockDisplay {
  return {
    ...block,
    first_name: block.account.first_name,
    last_name: block.account.last_name,
    email: block.account.email,
    assistant: block.assistant
      ? `${(block.assistant as IUser).last_name} ${(block.assistant as IUser).first_name}`
      : '',
    comment: block.comment ?? '',
    team: (block.team as ITeam)?.title,
  };
}

const displayedData = computed<IAccountBlockDisplay[]>(() => {
  return myStudients.value
    ? accountBlocks.value
        .filter((item) => item.assistant && (item.assistant as IUser).id === account.value.id)
        .map(mapCallback)
    : accountBlocks.value.map(mapCallback);
});

onMounted(async () => {
  loading.value = true;
  await fetchCourse(Number(route.params.id));
  await fetchAccountsBlock(Number(route.params.block_id));
  course.value.account_course.role === 'Student' && tableHeader.value.pop();
  course.value.account_course.role === 'Student' && tableHeaderTeam.value.pop();
  status.value = OPTIONS[(block.value?.status ?? 1) - 1];
  loading.value = false;
});

const modal = useModal({ content: CreateAnswer });
const modalScore = useModal({ content: CreateScore });
const modalStat = useModal({ content: ModalStat });

const status = ref();
const block = computed<IBlock | undefined>(() => {
  return course.value.blocks.find((item) => item.id === Number(route.params.block_id));
});

const onCreate = async (file: File) => {
  await createAccountBlock(Number(route.params.block_id), file);
  modal.close();
};

const onAddNewAnswer = () => {
  modal.open({ onCreate });
};

const currentNumber = ref<number>();

const onScoreModal = (id: number) => {
  currentNumber.value = id;

  modalScore.open({ answer: accountBlocks.value.find((item) => item.id === id), onUpdate });
};

const onUpdate = async (values: IAccountBlock) => {
  if (!currentNumber.value) {
    return;
  }

  await setScore(currentNumber.value, values, Number(route.params.block_id));
  modalScore.close();
};

const downloadFile = (answer: IAccountBlockDisplay) => {
  if (!answer.file) {
    return;
  }

  saveAs(answer.file, `${answer.last_name} ${answer.first_name}`);
};

const downloadBlockFile = () => {
  if (!block.value?.file) {
    return;
  }

  saveAs(block.value.file, `${block.value.title}`);
};

const OPTIONS = [
  {
    id: 1,
    name: 'Недоступно для студентов',
  },
  {
    id: 2,
    name: 'Доступно для студентов',
  },
  {
    id: 3,
    name: 'На оценивании',
  },
  {
    id: 4,
    name: 'Проверено',
  },
];

const setStatus = async (value: { id: number; name: string }) => {
  if (!block.value) {
    return;
  }

  const result = {
    ...block.value,
    status: value.id,
  } as IBlock;

  delete result['file'];

  await updateBlock(result, block.value.id);
};

const myStudients = ref<boolean>(false);
</script>
