<template>
  <div class="space-y-2 rounded-sm bg-white p-3">
    <div class="flex h-5 items-center gap-3">
      <div class="subheadline-bold">
        {{ block.title }}
      </div>

      <div
        v-if="editable"
        class="flex flex-grow cursor-pointer items-center justify-between space-x-2 text-dark-blue-primary"
      >
        <AppIcon name="edit-01" @click.prevent.stop="$emit('update', block.id)" />
      </div>
    </div>

    <p class="subheadline pt-5">{{ block.description }}</p>
  </div>
</template>

<script lang="ts" setup>
import { IBlock } from '@/store/courses';

interface Props {
  block: IBlock;
  editable?: boolean;
}

defineProps<Props>();

defineEmits<{
  (event: 'update', id: number): void;
  (event: 'change', value: { is_active: boolean; id: number }): void;
}>();
</script>
