<template>
  <div class="px-[48px] pt-4">
    <AppLoader rotating v-if="loading" />
    <div class="w-full space-y-7" v-else>
      <div class="flex items-center justify-between">
        <p class="title-22-bold">{{ 'Курсы' }}</p>
      </div>

      <div class="grid w-full grid-cols-1 gap-6 lg:grid-cols-3">
        <AppCard
          v-for="(course, index) in courses"
          :key="index"
          :router-link="{ name: 'course-detail', params: { id: course.id } }"
          hover
          classes="px-5 py-4"
        >
          <template #default>
            <div class="flex items-center justify-between">
              <p class="subheadline-bold">{{ course.title }}</p>
            </div>

            <div class="mt-2 flex h-fit flex-col justify-between">
              <img v-if="course.image" :src="course.image" class="h-[160px]" />
              <p v-if="course.subtitle" class="subheadline mt-2">{{ course.subtitle }}</p>
            </div>
          </template>
        </AppCard>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, onMounted, ref } from 'vue';
import { storeToRefs } from 'pinia';
import useCourseStore from '@/store/courses';

const courseStore = useCourseStore();
const { fetchCourseList } = courseStore;
const { courses } = storeToRefs(courseStore);

const loading = ref(false);

onMounted(async () => {
  loading.value = true;
  await fetchCourseList();
  loading.value = false;
});
</script>
