<template>
  <DetailView :loading="isLoading" @back="onBack">
    <div class="grid gap-8 rounded-lg bg-dark-blue-1 p-6">
      <div class="flex items-center justify-between">
        <span>
          <p class="large-title-bold">{{ course.title }}</p>

          <p class="subheadline mt-4 w-1/2">{{ course.description }}</p>
        </span>

        <div class="flex flex-col items-end gap-4">
          <p class="title-20-bold text-dark-blue-4">{{ course.account_course.role }}</p>
          <p
            v-if="course.account_course.role === 'Student' && course.account_course.team"
            class="title-20-bold text-dark-blue-4"
          >
            {{ course.account_course.team.title }}
          </p>

          <AppButton
            v-if="course.account_course.role !== 'Student'"
            small
            stroked
            class="subheadline-bold"
            @click="addStudent"
          >
            <AppIcon name="plus-circle" class="-my-0.5 text-title-2md" />
            <span class="ml-2">{{ 'Пригласить студентов' }}</span>
          </AppButton>
          <AppButton
            v-if="course.account_course.role === 'Supervisor'"
            small
            stroked
            class="subheadline-bold ml-4"
            @click="addAssistant"
          >
            <AppIcon name="plus-circle" class="-my-0.5 text-title-2md" />
            <span class="ml-2">{{ 'Пригласить учебных ассистентов' }}</span>
          </AppButton>
          <AppButton
            v-if="course.account_course.role === 'Student' && !course.account_course.team"
            small
            stroked
            class="subheadline-bold ml-4"
            @click="addTeam"
          >
            <AppIcon name="plus-circle" class="-my-0.5 text-title-2md" />
            <span class="ml-2">{{ 'Создать команду' }}</span>
          </AppButton>
          <AppButton
            v-if="course.account_course.role === 'Student' && course.account_course.team"
            small
            stroked
            class="subheadline-bold ml-4"
            @click="addMember"
          >
            <AppIcon name="plus-circle" class="-my-0.5 text-title-2md" />
            <span class="ml-2">{{ 'Пригласить участника' }}</span>
          </AppButton>
        </div>
      </div>

      <hr />
      <AppButton
        v-if="course.account_course.role !== 'Student'"
        small
        class="subheadline-bold ml-auto w-fit"
        @click="onAddNewBlock"
      >
        <AppIcon name="plus-circle" class="-my-0.5 text-title-2md" />
        <span class="ml-2">{{ 'Блок' }}</span>
      </AppButton>

      <div class="grid w-full grid-cols-1 gap-6">
        <AppCard
          v-for="(block, index) in course?.blocks ?? []"
          :key="index"
          hover
          classes="px-5 py-4 break-words"
          :router-link="{ name: 'block-detail', params: { id: course.id, block_id: block.id } }"
        >
          <BlockWrapper :editable="course.account_course.role !== 'Student'" :block="block" @update="updateItem" />
        </AppCard>
      </div>
    </div>
  </DetailView>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { useRouter, useRoute } from 'vue-router';
import useCourseStore, { IBlock, ICourse, ITeam } from '@/store/courses';
import { ref, onMounted } from 'vue';
import DetailView from '@/layouts/views/DetailView.vue';
import { useAppToast } from '@/core/plugins/useAppToast';
import useModal from '@/core/plugins/useModal';
import CreateBlockModal from './CreateBlockModal.vue';
import BlockWrapper from './BlockWrapper.vue';
import UpdateBlockModal from './UpdateBlockModal.vue';
import CreateTeam from './CreateTeam.vue';

const modal = useModal({ content: CreateBlockModal });
const updateModal = useModal({ content: UpdateBlockModal });
const createTeam = useModal({ content: CreateTeam });

const router = useRouter();
const route = useRoute();
const toast = useAppToast();

const isLoading = ref(true);

const courseStore = useCourseStore();
const { fetchCourse, createBlock, updateBlock, createTeam: fetchCreateTeam } = courseStore;
const { course } = storeToRefs(courseStore);

onMounted(async () => {
  isLoading.value = true;

  course.value = {} as ICourse;
  await fetchCourse(Number(route.params.id));

  isLoading.value = false;
});

const onBack = () => {
  router.push({ name: 'course-listing' });
};

const onCreate = async (values: IBlock) => {
  await createBlock(values);
  modal.close();
};

const onAddNewBlock = () => {
  modal.open({ onCreate });
};

const currentBlock = ref<IBlock>();

const updateItem = (id: number) => {
  currentBlock.value = {
    ...course.value.blocks.find((item) => item.id === id),
  } as IBlock;

  updateModal.open({ currentBlock: currentBlock.value, onUpdate });
};

async function onUpdate(values: IBlock) {
  if (!currentBlock.value) {
    return;
  }

  await updateBlock(values, currentBlock.value.id);
  updateModal.close();
}

const addStudent = async () => {
  await navigator.clipboard.writeText(`http://localhost:3000/auth/login?course=${course.value.id}&role=Student`);
  toast.success('Ссылка скопирована в буфер обмена');
};

const addAssistant = async () => {
  await navigator.clipboard.writeText(`http://localhost:3000/auth/login?course=${course.value.id}&role=Assistant`);
  toast.success('Ссылка скопирована в буфер обмена');
};

const addMember = async () => {
  if (!course.value.account_course.team) {
    return;
  }

  await navigator.clipboard.writeText(
    `http://localhost:3000/auth/login?course=${course.value.id}&team=${course.value.account_course.team.id}`
  );
  toast.success('Ссылка скопирована в буфер обмена');
};

const onCreateTeam = async (values: ITeam) => {
  await fetchCreateTeam(values);
  createTeam.close();
};

const addTeam = () => {
  createTeam.open({ onCreate: onCreateTeam });
};
</script>
