<template>
  <div style="min-width: 300px">
    <p class="title-28-bold mb-10">{{ 'Создание команды' }}</p>
    <div class="font-on-color w-[300px]">
      <AppForm v-slot="{ values, valid }" :schema="schemaCreate">
        <TextField name="title" class="mt-3">
          <template #label> Название </template>
        </TextField>

        <AppButton :disabled="!valid" @click="$emit('create', values)" class="mt-6 w-full">Сохранить</AppButton>
      </AppForm>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ITeam } from '@/store/courses';
import { string, AnySchema, object } from 'yup';

defineEmits<{
  (event: 'create', value: ITeam): void;
}>();

const schemaCreate: AnySchema = object().shape({
  title: string().nullable().required(),
});
</script>
