<template>
  <div style="min-width: 300px">
    <p class="title-28-bold mb-10 text-center">{{ 'Добавьте ответ' }}</p>
    <div class="mb-4 w-[300px] text-center">
      <AppFileInput :placeholder="placeholder" @change="onChange" />

      <AppButton @click="$emit('create', cfile)" class="mt-4">Сохранить</AppButton>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const cfile = ref<File>();
const placeholder = ref<string>();

const onChange = (file: File, path: string) => {
  placeholder.value = path;
  cfile.value = file;
};

defineEmits<{
  (event: 'create', value: File): void;
}>();
</script>
