<template>
  <div style="min-width: 300px">
    <p class="title-28-bold mb-2">{{ 'Поставьте оценку' }}</p>
    <AppCheckbox
      :model-value="props.answer.assistant && (props.answer.assistant as IUser).id === account.id"
      class="subheadline mb-10 w-[300px] text-white"
      >... либо отметьте для дальнейшей проверки</AppCheckbox
    >

    <div class="font-on-color w-[300px]">
      <AppForm v-model="answer" v-slot="{ values }">
        <TextField name="score" number :min="0" :max="10">
          <template #label> Оценка </template>
        </TextField>

        <HugeTextField name="comment" class="mt-3">
          <template #label> Комментарий к оценке </template>
        </HugeTextField>

        <AppButton @click="$emit('update', values)" class="mt-6 w-full">Сохранить</AppButton>
      </AppForm>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { IAccountBlock } from '@/store/courses';
import { IUser } from '@/store/account';
import useAccountStore from '@/store/account';
import { storeToRefs } from 'pinia';

const accountStore = useAccountStore();
const { account } = storeToRefs(accountStore);

interface Props {
  answer: IAccountBlock;
}

const props = defineProps<Props>();

const answer = ref<IAccountBlock>({
  score: props.answer.score,
  comment: props.answer.comment,
} as IAccountBlock);

defineEmits<{
  (event: 'update', value: IAccountBlock): void;
}>();
</script>
