<template>
  <div class="w-[700px] p-2">
    <div class="flex w-full items-end justify-between overflow-hidden">
      <div
        v-for="score in [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]"
        :key="score"
        class="flex h-[300px] w-[20px] flex-col items-center justify-end gap-2 bg-black"
      >
        <p v-if="getStatScore(score)" class="text-dark-blue-3">{{ getStatScore(score) }}</p>
        <div class="w-full bg-yellow-5" :style="{ height: `${(getStatScore(score) / getAllAnswers()) * 100}%` }"></div>
        <hr class="100vw w-screen" />
        <p class="text-white">{{ score }}</p>
      </div>
      <p class="subheadline-bold text-white">Оценки</p>
    </div>
    <p class="subheadline-bold mt-4 text-white">
      Процент проверенных работ:
      <span class="title-20-bold text-primary">{{ Math.floor((getAllChecked() / getAllAnswers()) * 100) }}%</span> 
    </p>
  </div>
</template>

<script lang="ts" setup>
import { IAccountBlock } from '@/store/courses';

interface Props {
  accountBlocks: IAccountBlock[];
}

const props = defineProps<Props>();

const getStatScore = (score: number): number => {
  return props.accountBlocks.reduce((sum, item) => sum + (item.score === score ? 1 : 0), 0);
};

const getAllAnswers = (): number => {
  return props.accountBlocks.length;
};

const getAllChecked = (): number => {
  return props.accountBlocks.reduce((sum, item) => sum + (item.score !== null ? 1 : 0), 0);
};
</script>
