<template>
  <div style="min-width: 300px">
    <p class="title-28-bold mb-10 text-center">{{ 'Добавьте блок курса' }}</p>
    <div class="mb-4 w-[300px]">
      <AppForm v-model="currentBlockRef" v-slot="{ valid, reset }" :schema="schemaCreate" class="font-on-color">
        <TextField name="title">
          <template #label> Заголовок блока </template>
        </TextField>

        <HugeTextField name="description" class="mt-7">
          <template #label> Описание блока </template>
        </HugeTextField>

        <div class="mt-7">
          <p class="subheadline-bold mb-2 text-font-primary">Вложения</p>
          <AppFileInput :placeholder="placeholder" @change="onChange"> </AppFileInput>
        </div>

        <div class="mt-10 flex w-full justify-between">
          <AppButton secondary @click="reset">Очистить</AppButton>
          <AppButton
            :disabled="!valid"
            @click="
              $emit('update', {
                ...currentBlockRef,
                file: cfile,
              })
            "
            >Сохранить</AppButton
          >
        </div>
      </AppForm>
    </div>
  </div>
</template>

<script setup lang="ts">
import { IBlock } from '@/store/courses';
import { string, AnySchema, object } from 'yup';
import { ref } from 'vue';

const schemaCreate: AnySchema = object().shape({
  title: string().nullable().required(),
  description: string().nullable().required(),
});

interface IProps {
  currentBlock: IBlock;
}

const props = defineProps<IProps>();

const currentBlockRef = ref({ ...props.currentBlock });

defineEmits<{
  (event: 'update', value: IBlock): void;
}>();

const placeholder = ref<string>();
const cfile = ref<File>();

const onChange = (file: File, path: string) => {
  placeholder.value = path;
  cfile.value = file;
};
</script>
