@import '../fonts/factor_a/stylesheet.css';
@import '../fonts/graphik/stylesheet.css';

@layer utilities {
  .large-title {
    font-family: theme('fontFamily.factor-regular');
    font-size: theme('fontSize.title-xl');
    line-height: theme('lineHeight.10');

    &-bold {
      @extend .large-title;
      font-family: theme('fontFamily.factor-bold');
    }
  }

  .title-28 {
    font-family: theme('fontFamily.factor-regular');
    font-size: theme('fontSize.title-lg');
    line-height: theme('lineHeight.9');

    &-bold {
      @extend .title-28;
      font-family: theme('fontFamily.factor-bold');
    }
  }

  .title-22 {
    font-family: theme('fontFamily.factor-regular');
    font-size: theme('fontSize.title-md');
    line-height: theme('lineHeight.8');

    &-bold {
      @extend .title-22;
      font-family: theme('fontFamily.factor-bold');
    }
  }

  .title-20 {
    font-family: theme('fontFamily.factor-regular');
    font-size: theme('fontSize.title-sm');
    line-height: theme('lineHeight.7');

    &-bold {
      @extend .title-20;
      font-family: theme('fontFamily.factor-bold');
    }
  }

  .headline {
    font-family: theme('fontFamily.graphik-regular');
    font-size: theme('fontSize.text-base');
    line-height: theme('lineHeight.7');

    &-bold {
      @extend .headline;
      font-family: theme('fontFamily.factor-bold');
    }
  }

  .body {
    font-family: theme('fontFamily.graphik-regular');
    font-size: theme('fontSize.text-base');
    line-height: theme('lineHeight.6');

    &-bold {
      @extend .body;
      font-family: theme('fontFamily.graphik-bold');
    }
  }

  .callout {
    font-family: theme('fontFamily.graphik-regular');
    font-size: theme('fontSize.text-md');
    line-height: theme('lineHeight.5');

    &-bold {
      @extend .callout;
      font-family: theme('fontFamily.graphik-bold');
    }
  }

  .subheadline {
    font-family: theme('fontFamily.graphik-regular');
    font-size: theme('fontSize.text-sm');
    line-height: theme('lineHeight.4');

    &-bold {
      @extend .subheadline;
      font-family: theme('fontFamily.graphik-bold');
    }
  }

  .footnote {
    font-family: theme('fontFamily.graphik-regular');
    font-size: theme('fontSize.text-xs');
    line-height: theme('lineHeight.3');

    &-bold {
      @extend .footnote;
      font-family: theme('fontFamily.graphik-bold');
    }
  }

  .caption {
    font-family: theme('fontFamily.graphik-regular');
    font-size: theme('fontSize.text-2xs');
    line-height: theme('lineHeight.2');

    &-bold {
      @extend .caption;
      font-family: theme('fontFamily.graphik-bold');
    }

    &-crossed {
      @extend .caption;
      text-decoration-line: line-through;
    }
  }

  .caption-sm {
    font-family: theme('fontFamily.graphik-regular');
    font-size: theme('fontSize.text-3xs');
    line-height: theme('lineHeight.1');

    &-bold {
      @extend .caption-sm;
      font-family: theme('fontFamily.graphik-bold');
    }
  }
}