@layer base {
  :root {
    --primary-pink: theme('colors.pink.6');
    --primary-dark-blue: theme('colors.dark-blue.6');
    --primary-metal-grey: theme('colors.metal-grey.6');
    --primary-yellow: theme('colors.yellow.6');

    --primary-color: theme('colors.pink.6');
    --highlight-color: theme('colors.pink.5');
    --active-color: theme('colors.pink.6');
    --accent-color: theme('colors.alert.alarm');

    --font-primary: theme('colors.font.black');
    --font-secondary: theme('colors.font.secondary');
    --font-tertiary: theme('colors.font.tertiary');

    --page-color: theme('colors.background.secondary2');
  }

  .font-on-white {
    --font-primary: theme('colors.font.black');
    --font-secondary: theme('colors.font.secondary');
    --font-tertiary: theme('colors.font.tertiary');
  }

  .font-on-color {
    --font-primary: theme('colors.font.white');
    --font-secondary: theme('colors.font.secondary-inverse');
    --font-tertiary: theme('colors.font.tertiary-inverse');
  }
}

// Body
body {
  background-color: var(--page-color);
}