<template>
  <div class="text-center">
    <h2 class="large-title-bold mb-10">Подтверждение аккаунта</h2>

    <AppButton @click="confirm">Подтвердить</AppButton>
  </div>
</template>

<script lang="ts" setup>
import { useRoute, useRouter } from 'vue-router';
import useAccountStore from '@/store/account';

const accountStore = useAccountStore();
const { activation } = accountStore;

const route = useRoute();
const router = useRouter();

const confirm = async () => {
  const credentials = {
    uid: route.params.uid,
    token: route.params.token,
  };

  await activation(credentials);

  router.push({ name: 'login' });
};
</script>
