<template>
  <!--begin::Wrapper-->
  <div class="p-15 mx-auto w-1/3 rounded-lg bg-white p-10 text-center shadow-base">
    <!--begin::Form-->
    <AppForm v-slot="{ values, valid }" :schema="login" class="w-full">
      <!--begin::Heading-->
      <div class="mb-10 text-center">
        <!--begin::Title-->
        <h1 class="large-title-bold mb-3">Создать аккаунт</h1>
        <!--end::Title-->

        <!--begin::Link-->
        <div class="subheadline-bold text-gray-400">
          Уже есть аккаунт?

          <router-link to="/auth/login" class="text-primary"> Войти </router-link>
        </div>
        <!--end::Link-->
      </div>
      <!--begin::Heading-->

      <TextField name="first_name" class="mb-9">
        <template #label> Имя </template>
      </TextField>

      <TextField name="last_name" class="mb-9">
        <template #label> Фамилия </template>
      </TextField>

      <TextField name="email" class="mb-9">
        <template #label> Почта </template>
      </TextField>

      <TextField name="password" class="mb-9" password>
        <template #label> Пароль </template>
      </TextField>

      <TextField name="re_password" class="mb-9" password>
        <template #label> Подтвердите пароль </template>
      </TextField>

      <CheckboxField name="agree" class="subheadline-bold mb-9 w-full">
        Я согласен с передачей моих данных сервису
      </CheckboxField>

      <AppButton :disabled="!valid" large @click="onSubmitLogin(values)" class="mx-auto">Отправить</AppButton>
    </AppForm>
    <!--end::Form-->
  </div>
  <!--end::Wrapper-->
</template>

<script lang="ts" setup>
import { IUser } from '@/store/account';
import * as Yup from 'yup';
import useAccountStore from '@/store/account';
import { ModalConfirmTypes } from '@/components/modal/types';
import useModalConfirm from '@/core/plugins/useModalConfirm';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

const accountStore = useAccountStore();
const { signUp, logOut } = accountStore;

const login = Yup.object().shape({
  first_name: Yup.string().required().label('first_name'),
  last_name: Yup.string().required().label('last_name'),
  email: Yup.string().required().email().label('email'),
  password: Yup.string().min(8).required().label('password'),
  re_password: Yup.string()
    .required()
    .oneOf([Yup.ref('password'), null], 'Пароли должны совпадать')
    .label('password confirmation'),
  agree: Yup.boolean().required().isTrue(),
});

const successOptions = {
  type: ModalConfirmTypes.SUCCESS,
  action: 'OK',
};
const [success, successMsg] = [`${t('success')}!`, 'Проверьте почту'];
const confirmModal = useModalConfirm('', '', {
  onlyConfirm: true,
  clickToClose: false,
});

const onSubmitLogin = async (values: IUser) => {
  logOut();

  await signUp(values);

  await confirmModal.open({ title: success, subTitle: successMsg, ...successOptions });
};
</script>
