<template>
  <!--begin::Wrapper-->
  <div class="p-15 mx-auto h-2/3 w-1/3 rounded-lg bg-white p-10 text-center shadow-base">
    <!--begin::Form-->
    <AppForm v-slot="{ values, valid }" :schema="login" class="w-full">
      <!--begin::Heading-->
      <div class="mb-10 text-center">
        <!--begin::Title-->
        <h1 class="large-title-bold mb-3">Войти в систему</h1>
        <!--end::Title-->

        <!--begin::Link-->
        <div class="subheadline-bold text-gray-400">
          Еще нет аккаунта?

          <router-link to="/auth/signup" class="text-primary"> Создать </router-link>
        </div>
        <!--end::Link-->
      </div>
      <!--begin::Heading-->

      <TextField name="email" class="mb-9">
        <template #label> Почта </template>
      </TextField>

      <TextField name="password" class="mb-9" password>
        <template #label> Пароль </template>
      </TextField>

      <AppButton :disabled="!valid" large @click="onSubmitLogin(values)" class="mx-auto">Отправить</AppButton>
    </AppForm>
    <!--end::Form-->
  </div>
  <!--end::Wrapper-->
</template>

<script lang="ts" setup>
import { IUser } from '@/store/account';
import * as Yup from 'yup';
import useAccountStore from '@/store/account';
import { useRoute, useRouter } from 'vue-router';
import useCourseStore from '@/store/courses';

const route = useRoute();
const router = useRouter();

const accountStore = useAccountStore();
const { logIn, logOut } = accountStore;

const courseStore = useCourseStore();
const { createMember, createTeamMember } = courseStore;

const login = Yup.object().shape({
  email: Yup.string().email().required().label('Email'),
  password: Yup.string().min(8).required().label('Password'),
});

const onSubmitLogin = async (values: IUser) => {
  logOut();

  await logIn(values);

  const { course, role, team } = route.query;

  if (course && role) {
    if (team) {
      return;
    }
    await createMember(Number(course), role as string);
  } else if (course && team) {
    if (role) {
      return;
    }
    await createTeamMember(Number(course), Number(team));
  }

  router.push('/');
};
</script>
