<template>
  <div class="app-button-grp flex flex-shrink-0">
    <AppButton
      v-for="item of items"
      :key="item.value"
      :router-link="item.routerLink"
      :link="item.link"
      :classes="item.value === modelValue.value ? 'bg-dark-blue-4' : 'bg-transparent text-dark-blue-4'"
      small
      @click="emit('update:modelValue', item)"
    >
      {{ item.name }}
    </AppButton>
  </div>
</template>

<script setup lang="ts">
import type { GroupItem } from './types';

interface IProps {
  modelValue: GroupItem;
  items: GroupItem[];
}

defineProps<IProps>();

const emit = defineEmits<{
  (event: 'update:modelValue', value: GroupItem): void;
}>();
</script>

<style lang="scss">
.app-button-grp {
  .app-button {
    border: 2px solid theme('colors.dark-blue.4');
    border-radius: 0;
    border-left: none;

    &::after {
      left: -2px;
      right: -2px;
    }
  }

  > span {
    &:first-child .app-button {
      border-left: 2px solid theme('colors.dark-blue.4');
      border-top-left-radius: theme('borderRadius.sm');
      border-bottom-left-radius: theme('borderRadius.sm');
    }
    &:last-child .app-button {
      border-top-right-radius: theme('borderRadius.sm');
      border-bottom-right-radius: theme('borderRadius.sm');
    }
  }
}
</style>
