<template>
  <div class="flex w-full gap-3">
    <div
      v-for="(step, index) in steps"
      :key="index"
      class="step subheadline-bold flex-grow rounded-xs border-2 border-dark-blue-primary bg-background-primary px-6 py-3 text-dark-blue-primary"
      :class="{ 'border-0 bg-dark-blue-primary text-font-white': step.number < (modelValue?.number ?? 0) }"
    >
      {{ step.name }}
    </div>
  </div>
</template>

<script lang="ts" setup>
import { Step } from './types';

interface Props {
  modelValue?: Step;
  steps: Step[];
}

defineProps<Props>();
</script>

<style lang="scss" scoped>
.step {
  // clip-path: polygon(74% 81%, 83% 90%, 75% 100%, 0% 100%, 9% 90%, 0 80%);
}
</style>
