<template>
  <AppButtonToggle v-model="value"><slot /></AppButtonToggle>
</template>

<script setup lang="ts">
import { toRef } from 'vue';
import { useField } from 'vee-validate';

interface Props {
  name?: string;
  modelValue?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
  name: '',
  modelValue: false,
});

defineEmits<{
  (event: 'update:modelValue', value: boolean): void;
}>();

const name = toRef(props, 'name');
const { value } = useField<boolean>(
  name,
  {},
  {
    validateOnValueUpdate: false,
  }
);
</script>
