<template>
  <AppTextarea v-model="value" :filled="Boolean(value)" :invalid="invalid">
    <template #errors>
      {{ errorMessage }}
    </template>

    <template v-for="(_, name) in $slots" #[name]="slotData">
      <slot :name="name" v-bind="slotData" />
    </template>
  </AppTextarea>
</template>

<script lang="ts" setup>
import { computed, toRef, watch, onMounted, nextTick } from 'vue';
import { useField, useIsFieldTouched } from 'vee-validate';

interface InputProps {
  name: string;
  modelValue?: string;
}

const props = defineProps<InputProps>();

defineEmits<{
  (event: 'update:modelValue', value: string): void;
}>();

const name = toRef(props, 'name');
const { value, errorMessage, setTouched } = useField<string>(
  name,
  {},
  {
    validateOnValueUpdate: false,
  }
);

const isTouched = useIsFieldTouched(name);
const invalid = computed<boolean>(() => isTouched.value && Boolean(errorMessage.value));

watch(
  () => value.value,
  () => {
    if (!isTouched.value) {
      setTouched(true);
    }
  }
);

onMounted(() => {
  nextTick(() => setTouched(false));
});
</script>
