<template>
  <AppFileInputWithUrl v-model="value" :filled="Boolean(value)" :invalid="invalid">
    <template #label>
      <slot name="label" />
    </template>
    <template #errors>
      {{ errorMessage }}
    </template>
  </AppFileInputWithUrl>
</template>

<script lang="ts" setup>
import { computed, toRef, watch, onMounted, nextTick } from 'vue';
import { useField, useIsFieldTouched } from 'vee-validate';

interface InputProps {
  name: string;
  modelValue?: string;
}

const props = defineProps<InputProps>();

defineEmits<{
  (event: 'update:modelValue', value: string | null): void;
}>();

const name = toRef(props, 'name');
const { value, errorMessage, setTouched } = useField<string | null>(
  name,
  {},
  {
    validateOnValueUpdate: false,
  }
);

const isTouched = useIsFieldTouched(name);
const invalid = computed<boolean>(() => isTouched.value && Boolean(errorMessage.value));

watch(
  () => value.value,
  () => {
    if (!isTouched.value) {
      setTouched(true);
    }
  }
);

onMounted(() => {
  nextTick(() => setTouched(false));
});
</script>
