<template>
  <div :class="classNamesContainer">
    <router-link v-if="routerLink" :to="routerLink">
      <div :class="classNamesInner">
        <slot />
      </div>
    </router-link>
    <template v-else>
      <div :class="classNamesInner">
        <slot />
      </div>
    </template>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { RouterLink } from 'vue-router';
import type { RouteLocationNamedRaw } from 'vue-router';

interface CardProps {
  routerLink?: string | RouteLocationNamedRaw;
  hover?: boolean;
  classes?: string;
}

const props = withDefaults(defineProps<CardProps>(), {
  hover: false,
  classes: '',
});

const classNamesContainer = computed(() => {
  return [
    'rounded-lg bg-background-primary',
    {
      'hover:shadow-base': props.hover,
    },
  ];
});

const classNamesInner = computed(() => {
  return [
    'h-full w-full',
    {
      [props.classes]: Boolean(props.classes),
    },
  ];
});
</script>
