<template>
  <div class="flex flex-col overflow-hidden rounded-md bg-white" style="width: 320px; height: 690px">
    <div class="flex items-center justify-between px-5 py-2.5">
      <span class="text-text-2xs font-bold" style="color: #2c2c2c; letter-spacing: -0.225px">
        {{ new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) }}
      </span>
      <span>
        <img src="/src/assets/images/main/preview/mobile-statusbar.svg" alt="Status" style="width: 50px" />
      </span>
    </div>

    <div class="app-scroll-bar app-scroll-bar-hidden flex-grow !overflow-y-auto">
      <slot />
    </div>
  </div>
</template>
