<template>
  <div class="-mt-1">
    <AppChips v-for="item of display.items" :key="item" mode="action" class="mr-1 mt-1 bg-dark-blue-1">
      {{ item }}
    </AppChips>

    <AppPopover
      ref="popoverRef"
      v-if="display.truncated"
      :offset="popoverOffset"
      class="inline-block"
      @show="isPopoverVisible = true"
      @hide="isPopoverVisible = false"
    >
      <template #reference>
        <AppChips
          mode="action"
          :class="[
            'mt-1 cursor-pointer bg-dark-blue-1 transition-colors hover:bg-dark-blue-2',
            { 'bg-dark-blue-2': isPopoverVisible },
          ]"
        >
          {{ display.truncated }}
        </AppChips>
      </template>

      <template #content>
        <div class="rounded-sm bg-white px-2.5 py-2 text-left shadow-base" style="max-width: 250px">
          <div class="footnote-bold mb-1 flex items-center">
            {{ title }} <AppIcon name="x" class="ml-auto cursor-pointer text-title-sm" @click="hidePopover" />
          </div>

          <AppChips v-for="item of items" :key="item" mode="action" class="mr-1 mt-1 bg-dark-blue-1">
            {{ item }}
          </AppChips>
        </div>
      </template>
    </AppPopover>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import AppPopover from '@/components/AppPopover.vue';

interface IProps {
  items: string[];
  title?: string;
  max?: number;
}

const props = withDefaults(defineProps<IProps>(), {
  items: () => [],
  max: 3,
});

const popoverOffset = [106, 6];
const isPopoverVisible = ref(false);
const popoverRef = ref<InstanceType<typeof AppPopover>>();
const display = computed(() => {
  let items = props.items;
  let truncated = null;

  if (props.items.length > props.max) {
    items = props.items.slice(0, props.max - 1);
    truncated = `+ ${props.items.length - (props.max - 1)}`;
  }
  return { items, truncated };
});

function hidePopover() {
  popoverRef.value?.hide();
}
</script>
