<template>
  <div class="flex items-center justify-between">
    <div class="mr-6 empty:hidden"><slot name="title" /></div>

    <AppForm v-slot="{ reset }" v-model="values" class="flex items-center gap-6">
      <slot :reset="reset" />

      <AppButton transparent small class="-ml-4" @click="reset">
        <span class="text-font-secondary">{{ t('drop_filters') }}</span>
      </AppButton>

      <AppLoader v-if="loading" rotating />
    </AppForm>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

interface Props {
  modelValue: Record<string, unknown>;
  loading?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
  loading: false,
});

const emit = defineEmits<{
  (event: 'update:model-value', values: Record<string, unknown>): void;
}>();

const values = computed<Record<string, unknown>>({
  get() {
    return props.modelValue;
  },
  set(newValues) {
    emit('update:model-value', newValues);
  },
});
</script>
