<template>
  <div class="app-pagination body w-full">
    <div v-if="showTotal">{{ t('total') }}: {{ total }}</div>

    <div class="flex items-center justify-between">
      <div v-if="enableDropdown" class="flex items-center">
        <span class="text-text-sm text-font-secondary">{{ t('display_on_page') }}:</span>
        <AppSelect v-model="currentPageSize" :options="perPageItemsRef" small class="ml-1 w-16" />
      </div>

      <div v-if="total > currentPageSize.size" class="flex">
        <AppButton :disabled="isFirstPage" :classes="btnCssClasses" stroked class="mr-1" @click="prev"
          ><AppIcon name="chevron-left" class="-mx-2 -my-px text-text-md"
        /></AppButton>
        <AppButton v-for="page in pages" :key="page.value" v-bind="page" @click="onPageChange(page.value)">
          {{ page.name }}
        </AppButton>
        <AppButton :disabled="isLastPage" :classes="btnCssClasses" stroked @click="next"
          ><AppIcon name="chevron-right" class="-mx-2 -my-px text-text-md"
        /></AppButton>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, toValue } from 'vue';
import type { PaginationRequest } from '@/core/services/Api';
import { useI18n } from 'vue-i18n';

type PerPageOption = { id: number; name: string; size: number };

interface IProps {
  total: number;
  modelValue: PaginationRequest;
  perPageItems?: PerPageOption[];
  showTotal?: boolean;
  enableDropdown?: boolean;
}

const props = withDefaults(defineProps<IProps>(), {
  total: 0,
  perPageItems: () => [5, 10, 15, 20].map((n, i) => ({ id: i + 1, name: String(n), size: n })),
  showTotal: true,
  enableDropdown: true,
});
const emit = defineEmits<{
  (event: 'update:modelValue', value: PaginationRequest): void;
}>();

const { t } = useI18n();

const perPageItemsRef = computed(() => [{ id: -1, name: t('all'), size: 9999 }].concat(props.perPageItems));
const currentPageSize = computed<PerPageOption>({
  get() {
    const size = Math.min(Math.max(props.modelValue.page_size, 1), Infinity);
    return perPageItemsRef.value.find((item) => item.size === size) ?? perPageItemsRef.value[0];
  },
  set(newValue: PerPageOption) {
    emitValue({ ...props.modelValue, page: 1, page_size: newValue.size });
  },
});
const pageCount = computed(() => Math.max(1, Math.ceil(toValue(props.total) / toValue(currentPageSize.value.size))));
const currentPage = computed(() => Math.min(Math.max(props.modelValue.page, 1), pageCount.value));
const isFirstPage = computed(() => currentPage.value === 1);
const isLastPage = computed(() => currentPage.value === pageCount.value);

const btnCssClasses =
  'footnote-bold w-8 h-8 p-2.5 rounded-xs border border-dark-blue-1 hover:bg-dark-blue-1 hover:border-transparent';
const pages = computed(() => {
  const allItems = Array(pageCount.value)
    .fill(null)
    .reduce((acc, _, index) => {
      const pageNumber = index + 1;
      const isCurrent = currentPage.value === pageNumber;

      acc.push({
        name: pageNumber,
        value: pageNumber,
        stroked: currentPage.value !== pageNumber,
        classes: isCurrent ? `${btnCssClasses} bg-dark-blue-5` : btnCssClasses,
        class: ['mr-1', { 'pointer-events-none': isCurrent }],
      });

      return acc;
    }, []);

  if (allItems.length > 10) {
    return insertEllipsisItems(allItems);
  }

  return allItems;
});

function prev() {
  emitValue({ ...props.modelValue, page: currentPage.value - 1 });
}
function next() {
  emitValue({ ...props.modelValue, page: currentPage.value + 1 });
}

function onPageChange(newValue: number) {
  emitValue({ ...props.modelValue, page: newValue });
}

function emitValue(newPagination: PaginationRequest) {
  emit('update:modelValue', newPagination);
}

function insertEllipsisItems(allItems: Record<string, unknown>[]) {
  const leftEllipsisItem = {
    name: '...',
    value: -1,
    stroked: true,
    classes: btnCssClasses,
    class: 'mr-1 pointer-events-none',
  };
  const rightEllipsisItem = {
    ...leftEllipsisItem,
    value: -2,
  };

  const left = allItems.slice(0, currentPage.value - 1);
  const right = allItems.slice(currentPage.value - 1);

  if (currentPage.value > 5) {
    const spliceCount = right.length > 3 ? currentPage.value - 4 : currentPage.value - (7 - right.length);
    left.splice(1, spliceCount, leftEllipsisItem);
  }
  if (allItems.length - currentPage.value > 4) {
    const spliceStart = currentPage.value >= 4 ? 3 : 6 - currentPage.value;
    const spliceCount = right.length - (currentPage.value >= 4 ? 4 : 7 - currentPage.value);
    right.splice(spliceStart, spliceCount, rightEllipsisItem);
  }

  return [...left, ...right];
}
</script>

<style lang="scss" scoped>
.app-pagination {
  :deep(.app-input-wrapper--small .app-input) {
    height: 32px;
    font-size: 13px;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  :deep(.app-input .app-svg-icon) {
    font-size: 20px;
  }
}
</style>
