<template>
  <div class="app-toast subheadline-bold px-5 py-4 text-font-primary">
    <AppIcon name="check-circle-filled" class="-translate-y-px text-title-2md" style="color: #48c1b5" />
    <span class="mx-3 font-bold">{{ text }}</span>
    <AppIcon name="x" class="-translate-y-px cursor-pointer text-title-2md" @click="$emit('close-toast')" />
  </div>
</template>

<script setup lang="ts">
interface IProps {
  text: string;
}

defineProps<IProps>();
</script>

<style lang="scss">
$toast-container-padding: 4px;
$page-padding: 2.5rem;

.app-toast {
  background-color: #f6fff9;
  border: 1px solid #48c1b5;
  border-bottom-left-radius: theme('borderRadius.sm');
  border-bottom-right-radius: theme('borderRadius.sm');

  &-container.top-right {
    top: calc(var(--header-h-lg) - $toast-container-padding);
    right: calc($page-padding + $toast-container-padding);
  }
}
</style>
