<template>
  <table v-bind="$attrs" class="app-table" role="grid">
    <!--begin::Table head-->
    <thead class="caption-bold thead">
      <!--begin::Table row-->
      <tr class="tr" role="row">
        <template v-for="(cell, index) in header" :key="index">
          <th
            :style="{ flexBasis: cell.flexBasis, flexGrow: cell.flexBasis ? 0 : cell.flexGrow ?? 1 }"
            :class="[
              'th cursor-default transition-colors hover:bg-dark-blue-2',
              { sorting: cell.sortable, 'bg-dark-blue-2': sortLabel === (cell.sortingField ?? cell.key) },
            ]"
          >
            <template v-if="cell.sortable">
              <AppSort
                :field="cell.sortingField ?? cell.key"
                :direction="order"
                class="flex flex-grow justify-between px-3 py-4"
                @sort="sort"
              >
                {{ cell.name }}
                <TableSortIcon
                  v-if="sortLabel === (cell.sortingField ?? cell.key)"
                  :direction="order"
                  class="ml-1 flex-shrink-0 translate-y-px"
                />
                <TableSortIcon v-else-if="cell.sortable" class="ml-1 flex-shrink-0 translate-y-px opacity-0" />
              </AppSort>
            </template>
            <template v-else>
              <div class="px-3 py-4">{{ cell.name }}</div>
            </template>
          </th>
        </template>
      </tr>
      <!--end::Table row-->
    </thead>
    <!--end::Table head-->

    <!--begin::Table body-->
    <tbody class="subheadline tbody">
      <template v-if="data.length && !loading">
        <template v-for="(item, row) in data" :key="row">
          <tr class="tr">
            <!--start::Item-->
            <template v-for="(cell, col) in header" :key="col">
              <td :style="{ flexBasis: cell.flexBasis, flexGrow: cell.flexBasis ? 0 : cell.flexGrow ?? 1 }" class="td">
                <slot :name="`cell-${cell.key}`" :item="item">
                  <span class="overflow-hidden overflow-ellipsis">{{ item[cell.key] }}</span>
                </slot>
              </td>
            </template>
            <!--end::Item-->
          </tr>
        </template>
      </template>
      <!--start::Table loading-->
      <tr class="tr" v-else-if="loading">
        <td colspan="7" class="loader td flex-grow justify-center !p-6">
          <AppLoader :width="4" rotating />
        </td>
      </tr>
      <!--end::Table loading-->
      <tr class="tr" v-else>
        <td colspan="7" class="td flex flex-grow justify-center">
          {{ emptyTableText }}
        </td>
      </tr>

      <!--end::Table body-->
    </tbody>
    <tfoot class="tfoot" v-if="pagination">
      <tr class="tr">
        <td v-show="!loading" class="td">
          <AppPagination
            v-model="paginationRef"
            :total="total"
            :enableDropdown="enableItemsPerPageDropdown"
            :show-total="showTotal"
            @update:modelValue="emitParams"
          />
        </td>
      </tr>
    </tfoot>
  </table>
</template>

<script lang="ts" setup>
import { computed, ref, watch, toValue } from 'vue';
import { sortArray, SortDirections, SortParams } from '@/core/utils/sorting';
import { IHeaderConfiguration } from './types/table';
import { IData } from '@/core/types/base';
import AppPagination from './AppPagination.vue';
import type { PaginationRequest } from '@/core/services/Api';
import TableSortIcon from './sort/TableSortIcon.vue';
import AppSort from './sort/AppSort.vue';

/**
 ** Props
 */

type TableParams = { pagination: PaginationRequest; sort: SortParams };

interface TableProps {
  header: IHeaderConfiguration[];
  data: IData[];
  emptyTableText?: string;
  loading?: boolean;
  enableItemsPerPageDropdown?: boolean;
  totalCount?: number;
  showTotal?: boolean;
  frontSort?: boolean;
  tableParams: TableParams;
  pagination?: boolean;
}

const props = withDefaults(defineProps<TableProps>(), {
  emptyTableText: '',
  loading: false,
  order: SortDirections.ASC,
  enableItemsPerPageDropdown: true,
  showTotal: true,
  frontSort: false,
  pagination: true,
});

/**
 ** Props to refs
 */

const data = ref(props.data);
watch(props, () => {
  data.value = props.data;
});

const paginationRef = ref({ ...props.tableParams.pagination });
const order = ref(props.tableParams.sort.direction);
const sortLabel = ref(props.tableParams.sort.field);
let sortApi = toValue(props.tableParams.sort.api);

/**
 ** Emits
 */

const emit = defineEmits<{
  (event: 'change:params', tableParams: TableParams): void;
}>();

/**
 ** Sort
 */

const sort = ({ field, api, direction }: SortParams) => {
  order.value = direction;
  sortLabel.value = field;
  sortApi = api;

  if (props.frontSort) {
    sortArray<IData>(data.value, field, direction);
    return;
  }

  emitParams();
};

const emitParams = () => {
  emit('change:params', {
    pagination: paginationRef.value,
    sort: { direction: order.value, field: sortLabel.value, api: sortApi },
  });
};

/**
 ** Pagination
 */

const total = computed<number>(() => props.totalCount ?? data.value.length);
</script>

<style lang="scss" scoped>
.app-table {
  width: 100%;
  position: relative;
  z-index: 0;
  border-radius: theme('borderRadius.sm');
  overflow: hidden;
  background-color: theme('colors.white');

  .tr {
    display: flex;

    &:has(.td:only-child) {
      justify-content: center;
    }

    &:hover {
      background-color: rgba(234, 235, 242, 0.3);
      transition: background-color 0.2s ease-out;

      :slotted(.show-on-hover) {
        opacity: 0.5;
        transition: opacity 0.2s ease-out;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .thead {
    background-color: theme('colors.dark-blue.1');
  }

  .th,
  .td {
    flex-basis: 40px;
    display: flex;
    align-items: center;
    overflow: hidden;

    &:last-child {
      border-right: 0 !important;
    }
  }

  .td {
    padding: 8px 12px;
    border-right: 0.5px solid theme('colors.dark-blue.1');
    border-bottom: 1px solid theme('colors.dark-blue.1');
  }

  .th {
    border-right: 0.5px solid theme('colors.background.secondary2');

    &.sorting {
      cursor: pointer;
    }

    &:hover {
      .table-sort-icon {
        opacity: 1;
      }
    }
  }

  .loader {
    flex-basis: 50px;
    padding: 8px 0;
  }

  .tbody {
    .tr:last-child {
      border-bottom: 0 !important;
    }
  }

  .tfoot {
    .td {
      padding: 24px;
      flex-grow: 1;
    }
  }
}

:slotted(.show-on-hover) {
  opacity: 0;
}
</style>
