<template>
  <Vue3Lottie ref="lottieRef" :animation-link="link" @onAnimationLoaded="$emit('load')" />
</template>

<script lang="ts" setup>
import { Vue3Lottie } from 'vue3-lottie';
import { ref } from 'vue';

interface IProps {
  link: string;
}

defineProps<IProps>();

defineEmits<{
  (event: 'load'): void;
}>();

const lottieRef = ref();

defineExpose({
  getInstance() {
    return lottieRef.value;
  },
});
</script>
