<template>
  <!--begin::Menu-->
  <div class="menu subheadline-bold">
    <div v-for="(item, index) in items" :key="index">
      <AppPopover
        v-if="item.children"
        :ref="(el) => popoversMap.set(item.name, el as InstanceType<typeof AppPopover>)"
        :offset="popoverOffset"
        :event-on-toggle="false"
        @mouseenter="showPopover(item.name)"
        @mouseleave="hidePopover(item.name)"
      >
        <template #reference>
          <a class="menu-link cursor-pointer" :data-active="activeParent === item.name">
            <span>{{ t(`pages.${item.t_naming ? item.t_naming : item.name}.name`) }}</span>
            <AppIcon name="chevron-down" class="ml-2 translate-y-0.5 text-title-md" />
          </a>
        </template>

        <template #content>
          <div class="dropdown mt-2 flex flex-col">
            <template v-for="(child, index) in item.children" :key="index">
              <router-link v-if="child.internal" class="dropdown-item" :to="{ name: child.name }">
                <span>{{ t(`pages.${item.t_naming ? item.t_naming : item.name}.${child.name}.name`) }}</span>
              </router-link>
              <a v-if="!child.internal" class="dropdown-item" :href="child.path" target="_blank">
                <span>{{ t(`pages.${item.t_naming ? item.t_naming : item.name}.${child.name}.name`) }}</span>
              </a>
            </template>
          </div>
        </template>
      </AppPopover>

      <div v-else class="menu-item">
        <router-link v-if="item.internal" class="menu-link" :to="{ name: item.name }">
          <span>{{ t(`pages.${item.t_naming ? item.t_naming : item.name}.name`) }}</span>
        </router-link>
        <a v-else class="menu-link" :href="item.path" target="_blank">
          <span>{{ t(`pages.${item.t_naming ? item.t_naming : item.name}.name`) }}</span>
        </a>
      </div>
    </div>
  </div>
  <!--end::Menu-->
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n';
import AppPopover from '@/components/AppPopover.vue';
import { ref } from 'vue';

const popoversMap = new Map<string, InstanceType<typeof AppPopover>>();
const popoverOffset = [67, 0];
const activeParent = ref('');
const { t } = useI18n();

interface IMenuItem {
  name: string;
  internal: boolean;
  path?: string;
  children?: IMenuItem[];
  t_naming?: string;
}

const items: IMenuItem[] = [
  {
    name: 'course-listing',
    internal: true,
    t_naming: 'courses',
  },
];

function showPopover(key: string) {
  activeParent.value = key;

  const popover = popoversMap.get(key);
  if (!popover) {
    return;
  }
  popover.show();
}

function hidePopover(key: string) {
  activeParent.value = '';

  const popover = popoversMap.get(key);
  if (!popover) {
    return;
  }
  popover.hide();
}
</script>

<style lang="scss" scoped>
.menu {
  display: flex;
  max-width: 1012px;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  .menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .menu-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: theme('borderRadius.xs');
    padding: 12px 16px;
    color: theme('colors.dark-blue.2');

    &:hover,
    &:active,
    &:focus,
    &[data-active='true'],
    &.router-link-active {
      background-color: var(--primary-dark-blue);
      color: white;
    }
  }
}

.dropdown {
  max-height: 200px;
  width: 300px;
  padding: 8px 0 12px;
  border-radius: theme('borderRadius.xs');
  background-color: theme('colors.dark-blue.primary');
}

.dropdown-item {
  background-color: inherit;
  color: theme('colors.dark-blue.2');
  cursor: pointer;

  padding: 12px 24px;
  text-align: left;

  &:hover,
  &:focus {
    background-color: theme('colors.dark-blue.8');
    color: white !important;
  }
}
</style>
