<template>
  <div class="flex w-full bg-background-primary" :class="{ 'bg-font-black': black }">
    <!--begin::Main content-->
    <div class="flex min-h-[calc(100vh-var(--header-h-lg))] w-full space-x-14 px-14 pt-13">
      <!--begin::Navigation back-->
      <AppButton stroked @click="emit('back')" class="sticky top-13 h-fit">
        <AppIcon name="arrow-left" class="-my-px -ml-0.5 mr-5 text-title-2md" />
      </AppButton>
      <!--end::Navigation back-->

      <div class="w-full">
        <!--begin::Loader-->
        <div v-if="loading" class="flex h-full w-full items-center justify-center">
          <AppLoader rotating />
        </div>
        <!--end::Loader-->

        <slot v-else />
      </div>
    </div>
    <!--end::Main content-->

    <!--begin::Preview-->
    <AppSideMenu v-if="preview">
      <div class="space-y-6">
        <slot name="preview_title">
          <p class="subheadline-bold text-font-primary">{{ t('components.preview.name') }}</p>
        </slot>

        <div v-if="loading" class="flex justify-center p-6">
          <AppLoader rotating />
        </div>
        <div v-else-if="invalid" class="subheadline-bold text-alert-alarm">
          <slot name="invalid">
            {{ t('components.preview.fill_fields') }}
          </slot>
        </div>
        <slot v-else name="preview" />
      </div>
    </AppSideMenu>
    <!--end::Preview-->
  </div>
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

interface Props {
  loading?: boolean;
  invalid?: boolean;
  black?: boolean;
  preview?: boolean;
}

withDefaults(defineProps<Props>(), {
  loading: false,
  invalid: false,
  black: false,
  preview: false,
});

const emit = defineEmits<{
  (event: 'back'): void;
}>();
</script>
