<template>
  <!--begin::Main form-->
  <AppForm
    ref="form"
    v-model="value"
    v-slot="{ valid }"
    class="relative space-y-6 pb-9"
    :class="{ 'font-on-color': black }"
    :schema="schema"
    :init-state="initState"
    @validation="(is_valid) => emit('validation', is_valid)"
  >
    <!--begin::Form fields-->
    <slot />
    <!--end::Form fields-->

    <!--begin::Form controls-->
    <ActionButtons
      @action="onSave"
      @cancel="onReset"
      :invalid="!valid || invalid"
      :action="action"
      :cancel="cancel"
      :disabled="disableActions"
    />
    <!--end::Form controls-->
  </AppForm>
  <!--end::Main form-->
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue';
import ActionButtons from '@/layouts/components/ActionButtons.vue';
import AppForm from '@/components/form/AppForm.vue';
import { AnySchema } from 'yup';

interface Props {
  modelValue: Record<string, unknown>;
  schema?: AnySchema;
  invalid?: boolean;
  black?: boolean;
  action?: string;
  cancel?: string;
  disableActions?: boolean;
  initState?: Record<string, unknown>;
}

const props = withDefaults(defineProps<Props>(), {
  invalid: false,
  black: false,
});

const emit = defineEmits<{
  (event: 'update:model-value', value: Record<string, unknown>): void;
  (event: 'reset'): void;
  (event: 'save', values: Record<string, unknown>): void;
  (event: 'validation', is_valid: boolean): void;
}>();

const form = ref<InstanceType<typeof AppForm>>();

const value = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    emit('update:model-value', newValue);
  },
});

const onSave = () => {
  form.value?.submit(value.value);
  emit('save', value.value);
};

const onReset = () => {
  form.value?.reset();
  emit('reset');
};

defineExpose({
  resetForm(values?: Record<string, unknown>) {
    form.value?.reset(values);
  },
  submitForm(values: Record<string, unknown>) {
    form.value?.submit(values);
  },
  isFormValid(): boolean {
    return !!form.value?.isValid();
  },
});
</script>
