<template>
  <div class="w-full">
    <AppFilters
      v-model="filters"
      :loading="loading"
      class="bg-background-primary py-6"
      @update:model-value="onFiltersChange"
    >
      <template #title>
        <slot name="title" />
      </template>

      <slot name="fields" />
    </AppFilters>

    <div class="flex w-full">
      <div class="mx-auto w-full space-y-7 px-[56px] pb-5 pt-10">
        <slot />

        <AppPagination :total="total" v-model="pagination" :show-total="false" @update:model-value="onChange" />
      </div>

      <AppSideMenu>
        <div class="space-y-6">
          <div v-if="loading" class="flex justify-center">
            <AppLoader rotating />
          </div>
          <slot v-else name="preview" />
        </div>
      </AppSideMenu>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { Pagination } from '@/core/services/Api';
import { ref, computed } from 'vue';

interface Props {
  filters?: Record<string, unknown>;
  loading?: boolean;
  pageSize?: number;
  total?: number;
}

const props = withDefaults(defineProps<Props>(), {
  loading: false,
  pageSize: 10,
  total: 0,
});

const emit = defineEmits<{
  (event: 'change', values: Record<string, unknown>): void;
  (event: 'update:filters', values: Record<string, unknown> | undefined): void;
}>();

const filters = computed<Record<string, unknown> | undefined>({
  get() {
    return props.filters;
  },
  set(newValue) {
    emit('update:filters', newValue);
  },
});

const pagination = ref<Pagination>({
  page: 1,
  page_size: props.pageSize,
  total_count: 0,
});

const onFiltersChange = () => {
  pagination.value.page = 1;
  onChange();
};

const onChange = () => {
  emit('change', {
    ...filters.value,
    ...pagination.value,
  });
};
</script>
