<template>
  <!-- <AppLoader /> -->

  <!-- begin::Body -->
  <div class="page flex flex-row">
    <AppHeader :title="pageTitle" />

    <!-- begin::Content -->
    <div class="content app-scroll-bar">
      <!-- begin::Content Body -->
      <div>
        <router-view v-slot="{ Component }">
          <Transition name="fade" mode="out-in">
            <component :is="Component" />
          </Transition>
        </router-view>
      </div>
      <!-- end::Content Body -->
    </div>
    <!-- end::Content -->
    <!-- <KTFooter /> -->
  </div>
  <!-- end::Body -->

  <!-- <KTScrollTop /> -->
</template>

<script setup lang="ts">
import { computed, onMounted, watch } from 'vue';
import AppHeader from '@/layouts/components/header/Header.vue';
import { storeToRefs } from 'pinia';
import useAccountStore from '@/store/account';
import { useRouter } from 'vue-router';

const router = useRouter();

const accountStore = useAccountStore();
const { isUserAuthenticated } = storeToRefs(accountStore);
const { fetchUser } = accountStore;

const pageTitle = computed(() => {
  return 'Main';
});

watch(
  () => isUserAuthenticated.value,
  () => {
    if (!isUserAuthenticated.value) {
      router.push({ name: 'login' });
    }
  }
);

onMounted(async () => {
  if (!isUserAuthenticated.value) {
    router.push({ name: 'login' });
    return;
  }

  await fetchUser();
});
</script>

<style lang="scss" scoped>
.page {
  padding-top: var(--header-h-lg);
}
.content {
  width: 100%;
  overflow: auto;
  height: calc(100vh - var(--header-h-lg));
}
</style>
