<template>
  <div @click="emitSort">
    <slot>
      {{ field }}
      <TableSortIcon :direction="direction" />
    </slot>
  </div>
</template>

<script setup lang="ts">
import TableSortIcon from './TableSortIcon.vue';
import { SortParams } from '@/core/utils/sorting';
import { apiPrefixMap, swapMap } from './utils';

const props = defineProps<Omit<SortParams, 'api'>>();

const emit = defineEmits<{
  (event: 'sort', sort: SortParams): void;
}>();

function emitSort() {
  const direction = swapMap[props.direction];
  const api = `${apiPrefixMap[direction]}${props.field}`;

  emit('sort', { direction, api, field: props.field });
}
</script>
